/* Home */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #100b18;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content{
  max-width: 700px;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.content h1{
  font-size: 4.3rem;
  margin-bottom: 0.8rem;
  color: #BC0421;
  font-family: "Dancing Script", cursive;
}

.btn:hover{
  opacity: 0.7;
}

/*  Menu Hamburguer */
.menu-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.toggler{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.hamburguer{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #100b18;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hamburguer>div{
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #BC0421;
  transition: .4s;
}

.hamburguer>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #BC0421;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburguer>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #BC0421;
	top: 10px;
	left: 0;
	transition: .4s;
}

.hamburguer>div:before{
  top: -10px;
}

.hamburguer>div:after{
  top: 10px;
} 

.toggler:checked + .hamburguer>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburguer>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburguer>div:before, .toggler:checked + .hamburguer>div:after{
	top: 0;
	transform: rotate(90deg);
}


.toggler:checked ~ .menu{
  visibility: visible;
}

.toggler:checked ~ .menu > div{
  transform: translateX(-50%) translateY(-50%);
} 

.toggler:checked ~ .menu > div > div{
  opacity: 1;
} 

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: .6s;
  visibility: hidden;
}

.menu > div {
  position: absolute;
  width: 1600px;
  height: 1600px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-150%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  transition: .6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > div > div{
  max-width: 90vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.menu > div > div > ul > li{
  list-style: none;
}

.menu > div > div > ul > li > a{
  text-decoration: none;
  margin: .5rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 550;
  text-transform: uppercase;
  color: #7159c1;
  transition: .3s;
}

.menu > div > div > ul > li > a:hover{
  color: #BC0421;
  transition: .4s;
}