body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #0e0c13;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .box{
  position: relative;
  width: 350px;
  padding: 40px;
  background: #161324;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.container .box:before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #7159c110;
  z-index: 2;
  pointer-events: none;
}

.container .box .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.container .box:nth-child(1) .icon{
  box-shadow: 0 0 0 0 #be1600;
  background: #be1600;
}

.container .box:nth-child(1):hover .icon{
  box-shadow: 0 0 0 400px #be1600;

}

.container .box:nth-child(2) .icon{
  box-shadow: 0 0 0 0 #380CAA;
  background: #380CAA;
}

.container .box:nth-child(2):hover .icon{
  box-shadow: 0 0 0 400px #380CAA;

}

.container .box:nth-child(3) .icon{
  box-shadow: 0 0 0 0 #0B54BF;
  background: #0B54BF;
}

.container .box:nth-child(3):hover .icon{
  box-shadow: 0 0 0 400px #0B54BF;

}

.container .box .content{
  position: relative;
  z-index: 1;
  transition: .5s;
}

.container .box .content{
  color: #fff;
}

.container .box .content a{
  transition: .4s;
}


.container .box:hover .content{
  color: white;
}

.container .box .content h3{
  font-size: 25px;
  margin: 10px 0;
  padding: 0;
}

.container .box .content p{
  margin: 0;
  padding: 0;
}

a{
  display: inline-block;
  padding: 10px 20px;
  background: #49656450;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container .box:hover .content a{
  background: white;
  color: black;
}