*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}

body{
  background: #100e17;

}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
  cursor: pointer;
  width: 200px;
  height: 280px;
  transition: 0.4s ease-out;
}

.front, .back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
  border-radius: 10px;
}

.front{
  height: 100%;
}

.front{
  background: #2e3033;
  transform: perspective(600px) rotateY(0deg);
}

.back{
  background: #2e3033;
  transform: perspective(600px) rotateY(180deg);
}

.front-content{
  color: #d1d1d1;
  text-align:center;
  width: 90%;
}

.back-content{
  color: #d1d1d1;
  text-align:center;
  width: 90%;
}

.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}